header {
padding: 30px;
background: #2664A3;
background-image: url("https://images.unsplash.com/photo-1525973132219-a04334a76080?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
background-size: cover;
background-attachment: fixed;
bakcground-position: center;
height: 100%;
color: #fff;
}
main {
  display: grid;
  grid-template-areas:
    'aside article article'
    'aside footer footer';
  grid-gap: 30px;
}
aside {
  grid-area: aside;
  background: #26859E;
}

article {
  grid-area: article;
  background: #ffffff;
}
footer {
  grid-area: footer;
  background: #3426AE;
  color: #fff;
}
