header {
background: #3426AE;
}

main {
  display: grid;
  grid-template-areas:
    'aside article article'
    'aside footer footer';
  grid-gap: 30px;
}
aside {
  grid-area: aside;
  background: #26859E;
}

article {
  grid-area: article;
  background: #ffffff;
}
footer {
  grid-area: footer;
  background: #2664A3;
  color: #fff;
}
