header {
background: #2664A3;
}

main {
  display: grid;
  grid-template-areas:
    'aside article article'
    'aside footer footer'
}
aside {
  background: #26859E;
}

article {
  background: #ffffff;

footer {
  background: #3426AE;
  color: #fff;
}
